RemoteFacade/RemoteFacade/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
</xs:schema>