GatewayTest/Service References/BankServiceReference/BankService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16874/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceForWorkingBank" />
  <xs:element name="GetWorkingBankByTcNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tcNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkingBankByTcNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceForWorkingBank" minOccurs="0" name="GetWorkingBankByTcNoResult" nillable="true" type="q1:ArrayOfWorkingBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>