GatewayTest/Service References/BankServiceReference/BankService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceForWorkingBank" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceForWorkingBank" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWorkingBank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkingBank" nillable="true" type="tns:WorkingBank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkingBank" nillable="true" type="tns:ArrayOfWorkingBank" />
  <xs:complexType name="WorkingBank">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankId" type="xs:int" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkingBank" nillable="true" type="tns:WorkingBank" />
</xs:schema>